.card {
    width: 250px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    text-align: center;
    background: #fff;
}

.card h2 {
    color: white;
}

.card p {
    font-size: 24px;
    color: white;
}

.course-card {
    background: #3498db;
}

.topic-card {
    background: #e74c3c;
}

.subtopic-card {
    background: #27ae60;
}

.content-card {
    background: #f1c40f;
}