<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Default Title{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% comment %} menuebar css {% endcomment %}
        <link href="/static/cms/admin/css/menuebar.css" rel="stylesheet">

        {% comment %} Bootstrap {% endcomment %}
        <link rel="stylesheet" href="/static/cms/admin/css/bootstrap.min.css">
        <script src="/static/cms/admin/js/bootstrap.min.js"></script>

        {% comment %} Jquery {% endcomment %}
        <script src="/static/cms/admin/js/jquery.min.js"></script>

        {% comment %} Set sweetalert {% endcomment %}
        <link rel="stylesheet" href="/static/cms/admin/css/sweetalert2.min.css">
        <script src="/static/cms/admin/js/sweetalert2.all.min.js"></script>



        
        

    </head>

    <body>
        <div class="sidebar">
            <h2>Jcms</h2>
            <a href="#" id="course_menu"><i class="fas fa-book"></i> Course</a>
            <a href="#" id="topic_menu"><i class="fas fa-list"></i> Topics</a>
            <a href="#" id="subtopic_menu"><i class="fas fa-file-alt"></i> Subtopic</a>
            <a href="#" id="content_menu"><i class="fas fa-info-circle"></i> Content details</a>
        </div>
            
        <div class="page-content">
            {% block content %}{% endblock %}
        </div>
    </body>
    <script src="/static/cms/admin/js/sidemenu_admin.js"></script>
</html>
