{% extends "base.html" %}
{% load static %} 
{% block title %}Topic Details{% endblock %}
{% block content %}

<link href="{% static 'cms/css/content_view.css' %}" rel="stylesheet">


<div class="w-full h-screen md:h-4/6 flex flex-col md:flex-row">

    <div class="w-full md:w-1/5 md:h-full bg-gray-600 border-r-2 border-gray-400 ">
        <div class="font-bold text-3xl pt-4 px-2 text-center text-white">Topics</div>
        <div id="topics" class="mt-8 bg-white overflow-y-auto no_scroll_bar rounded-lg parent topics_container" tabindex="0"></div>
    </div>

    <div class="w-full md:w-4/5 h-full bg-gray-50 justify-center shadow-inner shadow-2xl">


        <div class="flex mobile_hide">
            <div class="w-full md:w-3/5 lg:w-4/5 mt-10 text-center font-bold text-3xl p-2 justify-self-center">{{board_name}} - {{subject_name}} - {{grade}} grade</div>
            <div class="w-full md:w-2/5 mt-4 justify-self-end space-y-4">
                <div onclick="location.href='/home/view_course/'" class="mx-12 p-2 bg-blue-300 hover:bg-blue-400 cursor-pointer rounded-lg text-center font-bold flex items-center justify-around"> <i class="fas fa-long-arrow-alt-left fa-2x"></i> Back to Course</div>
            </div>
        </div>


        <h5 id="topic_name" class="text-left mx-24 p-4 font-bold text-xl mx-4 text-blue-600"></h5>
        <div class="px-32 overflow-y-auto border-t-2 border-blue-400 rounded-lg subtopics_container">
            <table class="w-full table-fixed ">
                <thead class="table-fixed" >
                    <tr class="w-full border-b-2 border-gray-400 bg-gray-200 rounded-lg">
                        <th id="subtopics_length" class="w-1/12 font-bold text-lg text-center p-2 mobile_hide text-black" ></th>
                        <th class="w-8/12 font-bold text-lg p-2 text-center text-black">SUBTOPICS</th>
                        <th class="w-1/12"></th>
                        
                    </tr>
                </thead>

                <tbody id="subtopicsDetails">

                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="{% static 'cms/js/content_view.js' %}"></script>
<script>
    //Make python veriable to js 
    var topicsData = JSON.parse('{{ topic_data_json|safe }}');
    var subtopic_data = JSON.parse('{{ subtopic_all_data|safe }}');


    make_topics_table(topicsData,subtopic_data)
</script>







{% endblock %}