{% extends 'base.html' %}
{% load static %} 
{% block title %}Course Details{% endblock %}
{% block content %}

<link href="{% static 'cms/css/course_view.css' %}" rel="stylesheet">

<div id="loader" class="d-none" >
    <div class="loader"></div>
</div>

<div class="container mt-3">
    <div class="row" class="row mx-0 col-12">
        <div class="col-sm-3 col-md-6">
            
            {% if user.is_superuser %}
                <a href="/dashboard/" class="btn btn-success ml-4" style="margin-left: 15px;"><i class="fas fa-user"></i> Admin Dashboard</a>
                <a href="/register/admin/" class="btn btn-success">Admin Registration</a>
            {% elif user.is_staff %}
                <a href="/dashboard/" class="btn btn-success ml-4"><i class="fas fa-user"></i> Admin Dashboard</a>
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if user.is_authenticated %}
                <form action='/logout/' method="post" class="float-right">
                    {% csrf_token %}
                    <a href="/logout/" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </form>
            {% endif %}
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row mx-0">

        <div class="col-sm-3 col-12">
            <div class="d-flex">
                <input type="text" id="filterData" class="form-control" placeholder="Search">
                <div class="btn-group ml-2">
                    <button class="btn btn-primary" id="searchData"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                </div>
            </div>
        </div>



        <div class="col-sm-2 offset-sm-4 col-12">
            <select class="form-control" id="boardFilterDropdown">
                <option value="">Select Board</option>
                <option value="all">All Board</option>
                {% for board in get_all_board %}
                <option value="{{ board }}">{{ board }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="col-sm-2 col-12">
            <select class="form-control" id="subjectFilterDropdown">
                <option value="">Select Subject</option>
                <option value="all">All Subject</option>
                {% for subject in get_all_subject %}
                <option value="{{ subject }}">{{ subject }}</option>
                {% endfor %}
            </select>
        </div>

        {% comment %} <div>
            {% if user.is_authenticated %}
                <form action='/logout/' method="post">
                    {% csrf_token %}
                    <a href="/logout/" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </form>
            {% endif %}
        </div> {% endcomment %}

    </div>
</div>

  





<div class="container mt-4">
    <div class="container mt-4">
        <div class="row" id="courseContainer">
            {% for course in courses %}
                <div class="col-md-4 mb-5">
                    <div class="course-card course_details cursor-pointer h-100" >
                        <input type="hidden" class="course_id" value="{{course.id}}">
                        <h5 class="course-title">{{ course.board_name }}</h5>
                        <p class="course-detail"><strong>Subject:</strong> {{ course.subject }}</p>
                        <p class="course-detail"><strong>Grade:</strong> {{ course.grade }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'paginationNavBar.html' %}

<script src="{% static 'cms/js/course_view.js' %}"></script>
<link rel="stylesheet" href="/static/cms/admin/css/sweetalert2.min.css">
<script src="/static/cms/admin/js/sweetalert2.all.min.js"></script>
<script>
    var selected_board = "{{selected_board}}"
    var success_message = "{{success_message}}"
    {% if success_message == 'success' %}
        Swal.fire({
            icon: 'success',
            title: 'Success!',
            text: 'Admin created successfully.',
        });
    {% endif %}
</script>


{% endblock %}
