{% extends 'base.html' %}
{% load static %} 
{% block title %}Course Details{% endblock %}
{% block content %}

<link href="{% static 'css/course_view.css' %}" rel="stylesheet">

<div id="loader" class="d-none" >
    <div class="loader"></div>
</div>

<div class="container mt-4">
    <div class="row mx-0">

        <div class="col-sm-3 col-12">
            <div class="d-flex">
                <input type="text" id="filterData" class="form-control" placeholder="Search">
                <div class="btn-group ml-2">
                    <button class="btn btn-primary" id="searchData"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                </div>
            </div>
        </div>



        <div class="col-sm-2 offset-sm-4 col-12">
            <select class="form-control" id="boardFilterDropdown">
                <option value="">Select Board</option>
                <option value="all">All Board</option>
                {% for board in get_all_board %}
                    <option value="{{ board.id }}">{{ board.board_name }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="col-sm-2 col-12">
            <select class="form-control" id="subjectFilterDropdown">
                <option value="">Select Subject</option>
                <option value="all">All Subject</option>
                {% for subject in get_all_subject %}
                    <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            {% if user.is_authenticated %}
                <form action='/logout/' method="post">
                    {% csrf_token %}
                    {% comment %} <input type="submit" class="btn btn-primary text-black" value="Logout"> {% endcomment %}
                    <a href="/logout/" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </form>
            {% endif %}
        </div>
        
    </div>
</div>

  





<div class="container mt-4">
    <div class="container mt-4">
        <div class="row" id="courseContainer">
            {% for course in courses %}
                <div class="col-md-4 mb-5">
                    <div class="course-card course_details cursor-pointer h-100" >
                        <input type="hidden" class="course_id" value="{{course.id}}">
                        <h5 class="course-title">{{ course.board.board_name }}</h5>
                        <p class="course-detail"><strong>Subject:</strong> {{ course.subject.subject_name }}</p>
                        <p class="course-detail"><strong>Grade:</strong> {{ course.grade }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<nav aria-label="Page navigation " class="text-center">
    <ul class="pagination ">
        {% if courses.has_previous %}
            <li class="page-item">
                <a href="?page=1{% if selected_board %}&boardId={{ selected_board }}{% endif %}{% if selected_subjectId %}&subjectId={{ selected_subjectId }}{% endif %}{% if search_input %}&searchInput={{ search_input }}{% endif %}">first</a>
                <a href="?page={{ courses.previous_page_number }}{% if selected_board %}&boardId={{ selected_board }}{% endif %}{% if selected_subjectId %}&subjectId={{ selected_subjectId }}{% endif %}{% if search_input %}&searchInput={{ search_input }}{% endif %}">previous</a>
            </li>
        {% endif %}
        
        {% for i in courses.paginator.page_range %}
            <li class="page-item {% if i == courses.number %}active{% endif %}">
                <a href="?page={{ i }}{% if selected_board %}&boardId={{ selected_board }}{% endif %}{% if selected_subjectId %}&subjectId={{ selected_subjectId }}{% endif %}{% if search_input %}&searchInput={{ search_input }}{% endif %}">{{ i }}</a>
            </li>
        {% endfor %} 
        
        {% if courses.has_next %}
            <li class="page-item">
                <a href="?page={{ courses.next_page_number }}{% if selected_board %}&boardId={{ selected_board }}{% endif %}{% if selected_subjectId %}&subjectId={{ selected_subjectId }}{% endif %}{% if search_input %}&searchInput={{ search_input }}{% endif %}">next</a>
                <a href="?page={{ courses.paginator.num_pages }}{% if selected_board %}&boardId={{ selected_board }}{% endif %}{% if selected_subjectId %}&subjectId={{ selected_subjectId }}{% endif %}{% if search_input %}&searchInput={{ search_input }}{% endif %}">last</a>
            </li>
        {% endif %}
    </ul>
</nav> 





<script src="{% static 'js/course_view.js' %}"></script>
<script>
    var selected_board = {{selected_board}}
</script>


{% endblock %}
